%ul.pagination{"aria-label" => "Pagination", :role => "navigation"}
  -if page > 1
    %li.pagination-previous=link_to('Previous', home_path(page: page - 1, per_page: per_page))
  -else
    %li Previous
  -skip = false
  -pages.times do |page_index|
    -page_index += 1
    -if page_index > 4 && page_index < pages - 4
      -unless skip
        %li.ellipsis{"aria-hidden" => "true"}
      -skip = true
      -next

    -elsif page == page_index
      %li.current=page_index
    -else
      %li=link_to(page_index, home_path(page: page_index, per_page: per_page))
  -if page < pages
    %li.pagination-next=link_to('Next', home_path(page: page + 1, per_page: per_page))
  -else
    %li Next