
=render partial: 'partials/pagination', locals: @facade

=form_tag(show_path, id: 'pagination-form') do
  =select_tag(:per_page, options_for_select(@facade[:per_page_options], @facade[:per_page]))
  =hidden_field_tag(:page, @facade[:page])

%ul.fizz-buzz-list
  -@facade[:values].each do |val|
    -link = capture_haml do
      = link_to val[:fizz_buzz], set_like_path(number_to_like: val[:number]), method: :post, remote: true, class: 'set-like'
    -liked = nil
    -@facade[:likes].each { |like| liked = val[:number] == like.number_to_like ? 'liked' : nil }
    %li.item{ class: liked }= link

